:root {
  --jp-code-font-size: 32px;   
  --jp-content-font-size1: 32px;
  --jp-ui-font-size1: 24px;
} 

.rise-enabled .jp-InputArea
    pre{
    font-size: 32px;
}

.rise-enabled .jp-OutputArea
    pre{
    font-size: 32px;
}
